h1,
h2,
h3,
h4,
h5,
h6,
p,
button
{
margin-top: 0;
margin-bottom: 0;
}
ul,
ol
{
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}
img
{
    display: block;
}
address
{
    font: normal;
}
button
{
    cursor: pointer;
}
.list
{
list-style:  none;
}
.link
{
text-decoration: none;
}

.page_header
{
background: #FFFFFF;
}
/* Стилізуємо шрифт всього BODY*/
.body,
.bodyportfolio
{
color: #212121;
font-family: 'Roboto', sans-serif;
}
/*  =========================== Стилізація Header page =========================== */
.page_header
{
background: #FFFFFF;
padding-top: 32;
padding-bottom: 32;
}
/* ===================== Стилізація логотипу ======================= */
.logo_first_word,
.logo_second_word_black,
.logo_second_word_white
{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.12;
letter-spacing: 0.03em;
}
.logo_first_word
{
color: #2196F3;
}
.logo_second_word_black
{
color: #000000;
}
.logo_second_word_white
{
color: #FFFFFF;
}
/* ===================== /Стилізація логотипу ======================= */
.site_nav a
{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}
.site_nav  .link:hover,
.site_nav  .link:focus
{
color: #2196F3;
}
.mailtel:hover,
.mailtel:focus
{
color: #2196F3;
}
.adress_contact_list_item
{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}
.hero
{
background-color:  #2F303A;
}
.hero_title
{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

.hero_btn
{
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-weight: 700;
line-height: 1.875;
letter-spacing: 0.06em;
color: #FFFFFF;
}
.btn_portfolio
{
display: flex;
background: #F5F4FA;
border-radius: 4px;
font-family: 'Roboto';
font-weight: 500;
line-height: 1.625;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.hero_btn:hover,
.hero_btn:focus
{

}
/* .btn_portfolio :hover,
.btn_portfolio :focus
{
color: #FFFFFF;
background-color: #2196F3;
} */
/* .button_list :hover, .button_list :focus
{
color: #FFFFFF;
} */
.button_list :hover .btn_portfolio,
.button_list :focus .btn_portfolio
{
background-color: #2196F3;
color: #FFFFFF;
}

.aboutsection h3
{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.aboutsection p
{
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}
.title
{
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.worksection,
.aboutsection
{
background: #F5F5F5;
}
.teamsection h3
{
font-weight: 500;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.teamsection p
{
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}
.teamsection
{
background: #F5F4FA;
}
.footer
{
background: #2F303A;
}
.footer p
{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.address_text_type
{
font-family: 'Roboto';
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.footer_list_contacts_item
{
font-size: 14px;
line-height: 1.71   ;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.adress_contact_list_item:hover,
.adress_contact_list_item:focus {
color: #2196F3;
}
.project_title
{
font-weight: 700;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
color: #212121;
}
.project_description
{
line-height: 1.875;
letter-spacing: 0.03em;
color: #757575;
}
.portfolio_list p
{
font-family: 'Roboto';
line-height: 1.875;
letter-spacing: 0.03em;
color: #757575;
}
