.mainpage {
    background: #E5E5E5;
}

.bodyportfolio{
    background: #E5E5E5;
}
.logo{
    padding-top: 24;   
}
/*Ссилки в хедері*/
.studio{
    padding-top: 32px;
}
.portfolio{
    padding: 32px 1098px 32px 453px;
}
.contacts{
    padding: 32px 1098px 32px 453px;
}
.studio,.portfolio,.contacts 
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}